extends index

block onasCategories
    ul.onasCategories
        li
            a(href='#all') MAREK
        li
            a(href='#NOTHING') SZYMEK
        li
            a(href='#SOMETHING') WOJTEK
        li
            a(href='#ELSE') ASIA
        li
            a(href='#HERE') TOMEK

block innerContent
                                 