extends layout
block content
    .programDay#thursday
        .date.bold.sizeOneEight.violet.
            18.09 CZWARTEK
        br
        .event
            a(href='program/najmniejszybalswiata')
                img(src='../images/program/NajmniejszyBalSwiata/najmniejszybalswiatasmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00

        .event
            a(href='program/ony')
                img(src='../images/program/Ony/onysmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00

        .event
            a(href='program/tatoniewraca')
                img(src='../images/program/TatoNieWraca/tatoniewracasmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00


    .programDay#friday
        .date.bold.sizeOneEight.violet.
            19.09 PIĄTEK
        br
        .event
            a(href='program/wladcaskarpetek')
                img(src='../images/program/WladcaSkarpetek/wladcaskarpeteksmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/piszczyk')
                img(src='../images/program/Piszczyk/piszczyksmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/wydarzeniatowarzyszace')
                img(src='../images/program/WydarzeniaTowarzyszace/book.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/wydarzeniatowarzyszace')
                img(src='../images/program/WydarzeniaTowarzyszace/vinyl.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/misterd')
                img(src='../images/program/MISTERD/misterdsmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00


    .programDay#saturday
        .date.bold.sizeOneEight.violet.
            20.09 SOBOTA
        br
        .event
            a(href='program/wydarzeniatowarzyszace')
                img(src='../images/program/WydarzeniaTowarzyszace/scissors.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/pancerni')
                img(src='../images/program/Pancerni/pancernismall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/thedumplings')
                img(src='../images/program/TheDumplings/thedumplingssmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/wydarzeniatowarzyszace')
                img(src='../images/program/WydarzeniaTowarzyszace/vinyl.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00

    .programDay#sunday
        .date.bold.sizeOneEight.violet.
            21.09 NIEDZIELA
        br
        .event
            a(href='program/sam')
                img(src='../images/program/Sam/samsmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/wydarzeniatowarzyszace')
                img(src='../images/program/WydarzeniaTowarzyszace/badge.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00
        .event
            a(href='program/naboga')
                img(src='../images/program/NaBoga/nabogasmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00

    .programDay#monday
        .date.bold.sizeOneEight.violet.
            22.09 PONIEDZIAŁEK
        br
        .event
            a(href='program/wsamopoludnie')
                img(src='../images/program/WSamoPoludnie/wsamopoludniesmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00


