extends layout
block content
    .programDay#thursday
        .date.bold.sizeOneEight.violet.
            18.09 CZWARTEK
        br
        .event
            a(href='program/najmniejszybalswiata')
                img(src='../images/program/NajmniejszyBalSwiata/najmniejszybalswiatasmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Najmniejszy bal świata
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 6-11 lat warsztat do spektaklu: g.10:00

        .event
            a(href='program/ony')
                img(src='../images/program/Ony/onysmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 19:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Ony
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla młodzieży 13-16 lat warsztat do spektaklu: g.16:30

        .event
            a(href='program/tatoniewraca')
                img(src='../images/program/TatoNieWraca/tatoniewracasmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 21:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Tato nie wraca
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl
    .clear
    .programDay#friday
        .date.bold.sizeOneEight.violet.
            19.09 PIĄTEK
        br
        .event
            a(href='program/wladcaskarpetek')
                img(src='../images/program/WladcaSkarpetek/wladcaskarpeteksmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 12:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Władca Skarpetek
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla dzieci 3-6 lat
        .event
            a(href='program/piszczyk')
                img(src='../images/program/Piszczyk/piszczyksmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 19:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Piszczyk
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl
        .event
            a(href='program/wydarzeniatowarzyszace#prezentacjajubileuszowa')
                img(src='../images/program/WydarzeniaTowarzyszace/book.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 20:30
                br
                span.bold.lightBlue.sizeOneEight.
                    prezentacja publikacji jubileuszowej "20x20"
        .event
            a(href='program/wydarzeniatowarzyszace#swiatlo')
                img(src='../images/program/WydarzeniaTowarzyszace/vinyl.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 21:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Światło
                br
                span.light.lightBlue.sizeOneFour.
                    impreza klubowa
        .event
            a(href='program/misterd')
                img(src='../images/program/MISTERD/misterdsmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 22:00
                br
                span.bold.lightBlue.sizeOneEight.
                    MISTER D.
                br
                span.light.lightBlue.sizeOneFour.
                    koncert
    .clear
    .programDay#saturday
        .date.bold.sizeOneEight.violet.
            20.09 SOBOTA
        br
        .event
            a(href='program/wydarzeniatowarzyszace#strachsiebac')
                img(src='../images/program/WydarzeniaTowarzyszace/scissors.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 10:00-17:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Strach się bać!
                br
                span.bold.lightBlue.sizeOneEight.
                    Dzień z nową dramaturgią
                br
                span.light.lightBlue.sizeOneFour.
                    warsztaty dla nauczycieli, instruktorów i pedagogów
        .event
            a(href='program/pancerni')
                img(src='../images/program/Pancerni/pancernismall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 19:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Pancerni
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl
        .event
            a(href='program/thedumplings')
                img(src='../images/program/TheDumplings/thedumplingssmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 22:00
                br
                span.bold.lightBlue.sizeOneEight.
                    The Dumplings
                br
                span.light.lightBlue.sizeOneFour.
                    koncert
        .event
            a(href='program/wydarzeniatowarzyszace#fuzz2pietro')
                img(src='../images/program/WydarzeniaTowarzyszace/vinyl.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 22:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Fuzz & 2 piętr'o
                br
                span.light.lightBlue.sizeOneFour.
                    impreza klubowa
    .clear
    .programDay#sunday
        .date.bold.sizeOneEight.violet.
            21.09 NIEDZIELA
        br
        .event
            a(href='program/sam')
                img(src='../images/program/Sam/samsmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 17:00
                br
                span.bold.lightBlue.sizeOneEight.
                    SAM, czyli przygotowanie do życia w rodzinie
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl dla młodzieży 13-16 lat
        .event
            a(href='program/wydarzeniatowarzyszace#wreczenienagrod')
                img(src='../images/program/WydarzeniaTowarzyszace/badge.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 18:30
                br
                span.bold.lightBlue.sizeOneEight.
                    wręczenie Nagród Specjalnych im.Kazimierza Dejmka
        .event
            a(href='program/naboga')
                img(src='../images/program/NaBoga/nabogasmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 19:00
                br
                span.bold.lightBlue.sizeOneEight.
                    Na Boga!
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl
    .clear
    .programDay#monday
        .date.bold.sizeOneEight.violet.
            22.09 PONIEDZIAŁEK
        br
        .event
            a(href='program/wsamopoludnie')
                img(src='../images/program/WSamoPoludnie/wsamopoludniesmall.png').eventImg
                br
                span.light.violet.sizeOneEight.
                    g. 19:00
                br
                span.bold.lightBlue.sizeOneEight.
                    W samo południe
                br
                span.light.lightBlue.sizeOneFour.
                    spektakl
    .clear

