extends layout

block content
    #contact
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=zU5PUgav171s.kyeY_xzsyBCk" width="850" height="560")
        .kafel
            span.violet.bold#kafelHeader.
                Instytut Teatralny
            br
            span.violet.bold#kafelHeader.
                im. Zbigniewa Raszewskiego
            br
            br
            span.violet.light#kafelAddressData.
                ul.Jazdów 1
            br
            span.violet.light#kafelAddressData.
                bilet@instysut-teatralny.pl
            br
            span.violet.light#kafelAddressData.
                (22)501 70 02
            br
            span.violet.light#kafelAddressData.
                (pon.-pt.:g.8:30-16:00)

        .kafel
            span.violet.bold#kafelHeader.
                Teatr Powszechny
            br
            span.violet.bold#kafelHeader.
                im. Zygmunta Hűbnera
            br
            br
            span.violet.light#kafelAddressData.
                ul.Zamoyskiego 20
            br
            span.violet.light#kafelAddressData.
                kasa@powszechny.com
            br
            span.violet.light#kafelAddressData.
                (22)818 25 16

        .kafel.noRightMargin
            span.violet.bold#kafelHeader.
                Teatr WARSawy
            br
            br
            span.violet.light#kafelAddressData.
                Rynek Nowego Miasta 5/7
            br
            span.violet.light#kafelAddressData.
                bilety@teatrwarsawy.pl
            br
            span.violet.light#kafelAddressData.
                (22)468 00 99

        .kafel.bottomKafel
            span.violet.bold#kafelHeader.
                Teatr Żydowski im. Estery
            br
            span.violet.bold#kafelHeader.
                Rachel i Idy Kamińskich
            br
            br
            span.violet.light#kafelAddressData.
                Plac Grzybowski 12/16
            br
            span.violet.light#kafelAddressData.
                kasa@teatr-zydowski.art.pl
            br
            span.violet.light#kafelAddressData.
                (22)850 56 56

        .kafel.bottomKafel
            span.violet.bold#kafelHeader.
                Klubokawiarnia Dwa Osiem
            br
            br
            span.violet.light#kafelAddressData.
                ul. Zamoyskiego 26a
            br
            span.violet.light#kafelAddressData.
                691 993 324
