doctype html
html
  head
    title. NÓWKA SZTUKA
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jquery-2.1.1.min.js')

    script(type="text/javascript").
        $(document).ready(function(){
            $('#mainMenu').on('click', 'li', function(){
                $(this).parent().find('.active').removeClass('active');
                $(this).addClass('active')
            });


            if(window.location.href.indexOf("ofestiwalu") > -1) {
                $('#mainMenu').children('li#ofestiwalu').children('a').addClass('active');
            }
            if(window.location.href.indexOf("bilety") > -1) {
                $('#mainMenu').children('li#bilety').children('a').addClass('active');
            }
            if(window.location.href.indexOf("kontakt") > -1) {
                $('#mainMenu').children('li#kontakt').children('a').addClass('active');
            }
            if(window.location.href.indexOf("/") > -1
            && !(window.location.href.indexOf("kontakt") > -1)
            && !(window.location.href.indexOf("bilety") > -1)
            && !(window.location.href.indexOf("ofestiwalu") > -1)) {
                $('#mainMenu').children('li#program').children('a').addClass('active');
            }
        });

  body
    #mainContainer
        #menu
            span.bold.violet.logoFirstLine NÓWKA
            br
            span.bold.violet.logoSecondLine SZTUKA
            a(href='http://facebook.pl')
                img(src='../images/fbIcon.png')#fbMenuIcon

            ul#mainMenu.lightBlue
                li.bold#program
                    a(href='/') PROGRAM
                li.bold#ofestiwalu
                    a(href='/ofestiwalu') O FESTIWALU
                li.bold#bilety
                    a(href='bilety') BILETY
                li.bold#kontakt
                    a(href='kontakt') KONTAKT

            #dateAndInfoUnderMenu
                .left.vertical-text
                    span. 18-22.09.2014
                    br
                    span. Warszawa
                .right.vertical-text
                    span. DRAMATY
                    br
                    span. WSPÓŁCZESNEJ
                    br
                    span. POLSKI
        #mainContent
            h1.violet= header
            block content

            span#organizatorzy.footerHeader.light.
                Organizatorzy:
            span#partnerzy.footerHeader.light.
                Partnerzy:
            span#medialni.footerHeader.light.
                Partnerzy medialni:
            span#klub.footerHeader.light.
                Klub
                Festiwalowy
            #footer
                img(src='../images/footerLogo1.png')
                img(src='../images/footerLogo2.png')
                img(src='../images/footerLogo3.png')
                img(src='../images/footerLogo4.png')
                img(src='../images/footerLogo5.png')
                img(src='../images/footerLogo6.png')
                img(src='../images/footerLogo7.png')
                img(src='../images/footerLogo8.png')
                img(src='../images/footerLogo9.png')
                img(src='../images/footerLogo10.png')
                img(src='../images/footerLogo11.png')
                img(src='../images/footerLogo12.png')
                #madeBy
                    a(href='http://www.freehopper.pl')
                        span.violet.
                            Made by&nbsp
                        span.lightBlue.
                            Freehopper


