doctype html
html
  head
    title. NÓWKA SZTUKA
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css')
    script(type='text/javascript' src='/javascripts/jquery-2.1.1.min.js')
    script(type='text/javascript' src='/javascripts/jquery.fancybox.js')

    script(type="text/javascript").
        $(document).ready(function(){
            $('#mainMenu').on('click', 'li', function(){
                $(this).parent().find('.active').removeClass('active');
                $(this).addClass('active')
            });


            if(window.location.href.indexOf("ofestiwalu") > -1) {
                $('#mainMenu').children('li#ofestiwalu').children('a').addClass('active');
            }
            if(window.location.href.indexOf("bilety") > -1) {
                $('#mainMenu').children('li#bilety').children('a').addClass('active');
            }
            if(window.location.href.indexOf("kontakt") > -1) {
                $('#mainMenu').children('li#kontakt').children('a').addClass('active');
            }
            if(window.location.href.indexOf("/") > -1
            && !(window.location.href.indexOf("kontakt") > -1)
            && !(window.location.href.indexOf("bilety") > -1)
            && !(window.location.href.indexOf("ofestiwalu") > -1)) {
                $('#mainMenu').children('li#program').children('a').addClass('active');
            }


           $('#mainMenuHorizontal').on('click', 'li', function(){
               $(this).parent().find('.active').removeClass('active');
               $(this).addClass('active')
           });
         if(window.location.href.indexOf("ofestiwalu") > -1) {
               $('#mainMenuHorizontal').children('li#ofestiwalu').children('a').addClass('active');
           }
           if(window.location.href.indexOf("bilety") > -1) {
               $('#mainMenuHorizontal').children('li#bilety').children('a').addClass('active');
           }
           if(window.location.href.indexOf("kontakt") > -1) {
               $('#mainMenuHorizontal').children('li#kontakt').children('a').addClass('active');
           }
           if(window.location.href.indexOf("/") > -1
           && !(window.location.href.indexOf("kontakt") > -1)
           && !(window.location.href.indexOf("bilety") > -1)
           && !(window.location.href.indexOf("ofestiwalu") > -1)) {
               $('#mainMenuHorizontal').children('li#program').children('a').addClass('active');
           }



            $('.fancybox').fancybox(
            {
                iframe: {
                scrolling : 'auto',
                preload   : true
                }
            });
        });

  body
    #mainContainer
        #menuVertical
            a(href='/')
                span.bold.violet.logoFirstLine NÓWKA
                br
                span.bold.violet.logoSecondLine SZTUKA
            a(href='http://facebook.pl')
                img(src='../images/fbIcon.png')#fbMenuIcon

            ul#mainMenu.lightBlue
                li.bold#program
                    a(href='/') PROGRAM
                li.bold#ofestiwalu
                    a(href='/ofestiwalu') O FESTIWALU
                li.bold#bilety
                    a(href='/bilety') BILETY
                li.bold#kontakt
                    a(href='/kontakt') KONTAKT

            #dateAndInfoUnderMenu
                .left.vertical-text
                    span. 18-22.09.2014
                    br
                    span. Warszawa
                .right.vertical-text
                    span. DRAMATY
                    br
                    span. WSPÓŁCZESNEJ
                    br
                    span. POLSKI
        #menuHorizontal

            a(href='/')
                span.bold.violet.logoFirstLine NÓWKA SZTUKA
            a(href='http://facebook.pl')
                img(src='../images/fbIcon.png')#fbMenuIconHorizontal

            ul#mainMenuHorizontal.lightBlue
                li.bold#program
                    a(href='/') PROGRAM
                li.bold#ofestiwalu
                    a(href='/ofestiwalu') O FESTIWALU
                li.bold#bilety
                    a(href='/bilety') BILETY
                li.bold#kontakt
                    a(href='/kontakt') KONTAKT

        #mainContent
            h1.violet.bold.sizeTwoFour= header
            block content

            span#organizatorzy.footerHeader.light.
                Organizatorzy:
            span#partnerzy.footerHeader.light.
                Partnerzy:
            span#medialni.footerHeader.light.
                Partnerzy medialni:
            span#klub.footerHeader.light.
                Klub
                Festiwalowy
            #footer
                a(href='http://sztukawspolczesna.org/')
                    img(src='../images/footerLogo1.png')
                a(href='http://www.mkidn.gov.pl/')
                    img(src='../images/footerLogo2.png')
                a(href='http://www.instytut-teatralny.pl/')
                    img(src='../images/footerLogo3.png')
                a(href='http://www.powszechny.com/')
                    img(src='../images/footerLogo4.png')
                a(href='http://www.teatrwarsawy.pl/')
                    img(src='../images/footerLogo5.png')
                a(href='http://www.teatr-zydowski.art.pl/')
                    img(src='../images/footerLogo6.png')
                a(href='http://www.polskieradio.pl/8,Dwojka')
                    img(src='../images/footerLogo7.png')
                a(href='http://wyborcza.pl/0,0.html')
                    img(src='../images/footerLogo8.png')
                a(href='http://cojestgrane.pl/polska')
                    img(src='../images/footerLogo9.png')
                a(href='http://www.gazeta.pl')
                    img(src='../images/footerLogo10.png')
                a(href='http://www.um.warszawa.pl/')
                    img(src='../images/footerLogo11.png')
                a(href='https://www.facebook.com/dwadziesciaosiem')
                    img(src='../images/footerLogo12.png')
                #madeBy
                    a(href='http://www.osmycki.com')
                        span.violet.
                            Projekt &nbsp
                        span.lightBlue.
                            osmycki.com,&nbsp&nbsp&nbsp
                    a(href='http://www.freehopper.pl')
                        span.violet.
                            wykonanie&nbsp
                        span.lightBlue.
                            Freehopper


