extends layout

block content
    #aboutFestiwal
        span.lightBlue.
            NÓWKA SZTUKA to przegląd najlepszych inscenizacji współczesnych polskich tekstów dramatycznych.
        br
        span.lightBlue.
            W programie festiwalu znalazły się spektakle teatralne&nbsp
        a(href='http://sztukawspolczesna.org/aktualnosc/61').violet.
             zakwalifikowane do finału 20. Ogólnopolskiego Konkursu na Wystawienie Polskiej Sztuki Współczesnej
        span.lightBlue., które nie były dotąd prezentowane w Warszawie.
        br
        br
        span.lightBlue.
            Ogólnopolski Konkurs na Wystawienie Polskiej Sztuki Współczesnej ma na celu nagradzanie najciekawszych poszukiwań repertuarowych w polskim teatrze, wspomaganie rodzimej dramaturgii w jej scenicznych realizacjach oraz popularyzację polskiego dramatu współczesnego.
            czytaj więcej na: 
        a(href='http://www.sztukawspolczesna.org').violet. www.sztukawspolczesna.org
        br
        br
        span.lightBlue.
              Tegoroczny program NÓWKI SZTUKI poszerzony został o wydarzenia towarzyszące: koncerty, warsztaty dla dzieci, młodzieży i nauczycieli oraz imprezy w klubie festiwalowym.
        br
        br
        span.lightBlue.
            NÓWCE SZTUCE towarzyszy wydanie jubileuszowej publikacji podsumowującej 20 lat Konkursu oraz uroczyste wręczenie Nagród Specjalnych im. Kazimierza Dejmka, które odbędzie się ostatniego dnia festiwalu.