extends index

block portofolioCategories
    ul.portofolioCategories
        li
            a(href='#all') ALL
        li
            a(href='#NOTHING') NOTHING
        li
            a(href='#SOMETHING') SOMETHING
        li
            a(href='#ELSE') ELSE
        li
            a(href='#HERE') HERE

block innerContent
