extends layout

block content
    br
    br
    .eventCategoryName.
        WARSZTATY DLA NAUCZYCIELI
    br
    .eventName.
        Strach się bać!
    .eventName.
        Dzień z nową dramaturgią
    br
    .eventDataWord.
        data:
    .actuallEventData.
        20.09 SOBOTA g. 10:00-17:00
    .eventPlaceWord.
        miejsce:
    .actualEventPlace.
        Teatr Powszechny im.Zygmunta Hubnera
    .aboutEventInfo.
        Spotkanie i warsztaty skierowane do nauczycieli, instruktorów teatralnych,
        pedagogów teatru zainspirowane współczesnymi tekstami, na podstawie których
        powstały spektakle finałowe w 20. Ogólnopolskiego Konkursu na Wystawienie Polskiej Sztuki Współczesnej.
    br
    br
    br
    span.bold.violet.sizeOneEight.
        PROGRAM
    br
    br
    br
    span.violet.light.sizeOneEight.
       10:00-11:00
    br
    span.light.bold.sizeOneTwo.lightBlue.
        Nowa dramaturgia - dla kogo i o kim?
    br
    span.bold.sizeOneTwo.lightBlue.
        Najmniejszy bal świata Maliny Prześlugi
    br
    span.light.sizeOneTwo.lightBlue.
        spotkanie z autorami tekstów i reżyserami spektakli finałowych
    br
    br
    br
    span.violet.light.sizeOneEight.
      11:30-14:30
    br
    span.light.sizeOneTwo.lightBlue.
        Warsztaty do wyboru:
    br
    br
    br
    .leftColumn
        span.light.bold.sizeOneTwo.lightBlue.
            Historie i rytmy codzienności.

        br
        span.bold.sizeOneTwo.lightBlue.
           Warsztat wokół spektaklu Władca Skarpetek
        br
        span.light.sizeOneTwo.lightBlue.
            prowadzenie: jacek Timingeriu, reżyser i autor tekstu. Warsztat dla osób
            pracujących teatralnie z dziećmi w wieku przedszkolnym i wczesnoszkolnym.
    .rightColumn
        span.light.bold.sizeOneTwo.lightBlue.
            Kim jest Sam?
        br
        span.light.bold.sizeOneTwo.lightBlue.
            o sztuce zadawania pytań.
        br
        span.light.sizeOneTwo.lightBlue.
            prowadzenie: Maria Wojtyszko, autorka tekstu SAM, czyli przygotowanie do życia w rodzinie.
            Warsztat dla osób pracujących teatralnie z młodzieżą gimnazjalną.
    .clear.
    br
    br
    br
    .leftColumn
        span.violet.light.sizeOneEight.
            14:30-16:00
        br
        span.light.sizeOneTwo.lightBlue.
            przerwa obiadowa
        br
        br
        br
        br
    .clear.
    .leftColumn
        span.violet.light.sizeOneEight.
            16:00-17:00
        br
        span.light.bold.sizeOneTwo.lightBlue.
            Nowa sztuka. mediacja między strachem a współczesnością
        br
        span.light.sizeOneTwo.lightBlue.
            podsumowanie warsztatów i dyskusja
    .clear.
    br
    br
    .aboutEventInfo.
        Warunkiem bezpłatnego udziału w warsztatach jest okazanie biletu na dowolny spektakl przeglądu NÓWKA SZTUKA
        oraz wysłanie zgłoszenia na adres: #[a(href='mailto:bilety@instytut-teatralny.pl', style='color:#37BCD5;') bilety@instytut-teatralny.pl.]
        Uczestnicy otrzymają imienne zaświadczenie o udziale w
        #[span(style='color:#37BCD5; font-family:akkurat-bold;') Strach się bać! Dzień z nową dramaturgią.]
    br
    br
    br
    br
    .eventCategoryName.
        WARSZTATY DlA DZIECI I MŁODZIEŻY

    .leftColumn
        span.violet.light.sizeOneEight.
            18.09 CZWARTEK g.10:00
        br
        span.light.bold.sizeOneTwo.lightBlue.
            Warsztat do spektaklu
        br
        span.bold.sizeOneTwo.lightBlue.
            Najmniejszy bal świata Maliny Prześlugi
        br
        span.light.sizeOneTwo.lightBlue.
            dla dzieci w wieku 6-11 lat (klasy 0-3)
        br
        span.light.sizeOneTwo.lightBlue.
            miejsce:Teatr Powszechny im. Zygmunta Hübnera

    .rightColumn
        span.violet.light.sizeOneEight.
           18.09 CZWARTEK g.16:30
        br
        span.light.bold.sizeOneTwo.lightBlue.
            Warsztat do spektaklu Ony Marty Guśniowekiej
        br
        span.light.sizeOneTwo.lightBlue.
            dla młodzieży w wieku 13-16 lat (gimnazjum)
        br
        span.light.sizeOneTwo.lightBlue.
            miejsce:Teatr Powszechny im. Zygmunta Hübnera
    .clear.
    br
    br
    .span.sizeOneEight.black.light.floatLeft.
        Udział w warsztatach jest bezpłatny, zapisy:&nbsp
    a(href='mailto:bilety@instytut-teatralny.pl').lightBlue.light.floatLeft.sizeOneEight.
        bilety@instytut-teatralny.pl,
    .clear
    .aboutEventInfo.
        liczba miejsc ograniczona, o udziale w zajęciach decyduje kolejność zgłoszeń.
    br
    br
    br
    br
    br
    br
    .eventName.
        Prezentacja publikacji jubileuszowej "20x20"
    br
    .eventDataWord.
        data:
    .actuallEventData.
        19.09 PIĄTEK g. 20:30
    .eventPlaceWord.
        miejsce:
    .actualEventPlace.
        Teatr Powszechny im.Zygmunta Hubnera
    .aboutEventInfo.
        Blisko 1400 spektakli, wśród nich Obywatel Pekoś Mikołaja Grabowskiego, Ballada o Zakaczawiu Jacka Głomba, Made in Poland Przemysława Wojcieszka i Między nami dobrze jest Grzegorza Jarzyny. Sztuki Sławomira Mrożka, Marty Guśniowskiej, Michała Walczaka oraz Pawła Demirskiego; teatry Jerzego Szaniawskiego w Wałbrzychu, Heleny Modrzejewskiej w Legnicy, Białostocki Teatr lalek, Republika Usta Usta i lubelskie Provisorium. To zaledwie fragment długiej listy osób i instytucji istotnych zarówno dla najnowszej polskiej dramaturgii, jak i samego Konkursu na Wystawienie Polskiej Sztuki Współczesnej. #[br]
        Jak regulowany jest system produkcji i eksploatacji nowych tekstów na polskim rynku teatralnym? Czym jest dziś angażująca dramaturgia i jakie tkwią w niej paradoksy? Do czego jest nam potrzebna kategoria teatru środka?  Wreszcie, czym charakteryzuje się polska dramaturgia dziecięca? Historia powołanego w 1995 roku przez Kazimierza Dejmka Konkursu stanowi pretekst dla krytyków i badaczy teatru do rozmowy na temat kondycji i możliwych kierunków rozwoju współczesnej polskiej dramaturgii.#[br]
        Publikacja dokumentująca dwadzieścia edycji Konkursu została wzbogacona o materiały archiwalne, dane statystyczne, wybór ikonografii oraz fragmentów prasowych.
    br
    br
    .aboutEventInfo.
        Zespół redakcyjny: Piotr Grzymisławski, Agnieszka Kubaś, Andrzej Lis#[br]
        Opracowanie dokumentacji: Andrzej Lis, Marianna Lis
    br
    br
    .aboutEventInfo.
        Projekt graficzny: Grzegorz Laszuk K+S#[br]
        Łamanie: Anna Hegman K+S#[br]
        ISBN 978–83–63276–03-4#[br]
        Miejsce i rok wydania: Warszawa 2014#[br]
    br
    br
    br
    br
    .eventName.
        Wręczenie nagród specjalnych im. Kazimierza Dejmka
    br
    .eventDataWord.
        data:
    .actuallEventData.
        21.09 NIEDZIELA g. 18:30
    .eventPlaceWord.
        miejsce:
    .actualEventPlace.
        Teatr Powszechny im.Zygmunta Hubnera
    .aboutEventInfo.
        Z okazji jubileuszu dwudziestolecia istnienia Konkursu na Wystawienie Polskiej Sztuki Współczesnej ustanowiona została nagroda specjalna imienia Kazimierza Dejmka,
        inicjatora Konkursu.
    br
    .aboutEventInfo.
        Wyróżnienie będzie przyznawane w dwóch kategoriach:
    br
    .aboutEventInfo
        ul
            li.
                Nagroda dla dyrektora teatru szczególnie przyjaznego polskiej dramaturgii współczesnej w ostatnich dwudziestu latach
            li.
                Nagroda dla dramatopisarza szczególnie chętnie granego na polskich scenach w ostatnich dwudziestu latach.
    .aboutEventInfo.
        Laureatów Nagrody im. Kazimierza Dejmka wybierze kapituła złożona z członków jury 20. Konkursu (Sławomira Łozińska, Maciej Nowak, Tadeusz Nyczek, Bożena Sawicka, jacek Wakar) oraz osób szczególnie zasłużonych dla Konkursu w przeszłości.






    br
    br
    br
    br

    <!--========IMPREZY KLUBOWA=======-->
    .eventCategoryName.
        IMPREZY KLUBOWE
    .eventName.
        Światło
    br
    .eventDataWord.
        data:
    .actuallEventData.
        19.09 PIĄTEK g. 21:00
    .eventPlaceWord.
        miejsce:
    .actualEventPlace.
        Daw Osiem
    .aboutEventInfo.
        Światło to cykl przyjęć, mających na celu przywrócenie dobrego imienia muzyce house, a także
        zestawienie jej z muzyką inną, nieco trudniejszą. Za pomocą płyt winylowych, usiłujemy nawiązać
        do czasów, w których house, głównie ten z Chicago i Nowego jorku, umiejętnie balansował na granicy
        wiarygodnej i całkiem poważnej muzyki ulicznej oraz dźwięków przyjemnych, radosnych, łatwych do
        określenia mianem tandety. Kto by się jednak tym ostatnim głowił, w końcu noc jest już tak późna,
        a Światło takie mamiące
    br
    .aboutEventInfo.
        wstęp wolny
    br
    br
    .eventName.
        Fuzz & 2 Piątr'o
    br
    .eventDataWord.
        data:
    .actuallEventData.
        20.09 SOBOTA g. 20:30
    .eventPlaceWord.
        miejsce:
    .actualEventPlace.
        Dwa Osiem
    .aboutEventInfo.
        Nazwani przez Małgorzatę Halber sumieniem warszawskich parkietów. Zasłynęli cyklem kultowych potańcówek w
        lokalach usytuowanych po prawej stronie Wisły. jedyny kolektyw, który jest w stanie stawić czoła (przez ścianę)
        legendarnemu Dj Bigosowi i spacyfikować Total Oldschool Party. To po prostu trzeba przeżyć!
        PUNK / GARAGE / WAVE / PFUNK / MADCHESTER / PSYCH / MOD / MAD / GiRLZRiOTT / iNFi / SOWHAT / FUCKU
    br
    .aboutEventInfo.
        wstęp wolny
    .clear.
    br
    br
    br
    br

