
/*@font-face {*/
    /*font-family: 'gotham-book';*/
    /*src: url('../fonts/Gotham-Book.eot');*/
    /*src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

@font-face {
    font-family: 'akkurat-light';
    src: url('../fonts/Akkurat-Light.eot');
    src: local('☺'), url('../fonts/Akkurat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat-bold';
    src: url('../fonts/AkkurPlBol.eot');
    src: local('☺'), url('../fonts/AkkurPlBol.woff') format('woff'), url('../fonts/AkkurPlBol.ttf') format('truetype'), url('../fonts/AkkurPlBol.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat-bold-italic';
    src: url('../fonts/Akkurat-BoldItalic.eot');
    src: local('☺'), url('../fonts/Akkurat-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 20px 30px;
    margin:0;
    font: 14px "gotham-book", Helvetica, Arial, sans-serif;

}

iframe{
    border:none !important;
}

a {
    color: black;
    text-decoration: none;
}

.clear{
    clear: both;
}

#mainContainer{
    max-width: 1250px;
    height: 300px;
    position: relative;
    margin: 0 auto;
}

.lightBlue{
    color: rgb(55, 188, 213)
}

.violet{
    color: rgb(125, 14, 123)
}

.light{
    font-family: "akkurat-light";
}

.bold{
    font-family:'akkurat-bold';
}

.boldItalic{
    font-family: "akkurat-bold-italic";
}

.logo{
    font-size: 37px;
    margin-left: 28px;
}

#menu{
    width: 24.775%;
    max-width:240px;
    position:relative;
    left:2%;
    border-top: 20px solid;
    border-bottom: 20px solid;
    height:61%;
    padding-top: 13px;
    float:left;

    border-color:rgb(125, 14, 123);
}

#fbMenuIcon{
    position:absolute;
    top:10px;
    right:0px;
}

.vertical-text {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.diagonal-text {
    /* Safari */
    -webkit-transform: rotate(-45deg);

    /* Firefox */
    -moz-transform: rotate(-45deg);

    /* IE */
    -ms-transform: rotate(-45deg);

    /* Opera */
    -o-transform: rotate(-45deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
}

#dateAndInfoUnderMenu{
    margin-top:100px;
    height:320px;
    border-bottom: 20px solid;
    border-color:rgb(125, 14, 123);
}

#dateAndInfoUnderMenu .left{
    color: #7D0E7B;
    height: 70px;
    width: 125px;
    position: relative;
    top: 195px;
    font-size: 16px;
    border-right: 20px solid #7D0E7B;
    left: -30px;
    font-weight: bold;
}

#dateAndInfoUnderMenu .right{
    color: #37BCD5;
    height: 120px;
    width: 355px;
    position: relative;
    top: -30px;
    font-size:37px;
    text-align:right;
    padding:5px;
    padding-top:15px;
    border-top: 20px solid #37BCD5;
    left: -2px;
    font-weight: bold;
}

#mainContent{
     width: 70.660%;
     position:relative;
     right:2%;
     border-top: 20px solid;
     float:right;
     top:0;
     border-color: rgb(125, 14, 123);
 }

.logoFirstLine, .logoSecondLine{
    font-size: 40px;
    line-height: 36px;
}

.logoSecondLine{
    margin-left:11px;
}


#mainMenu{
    list-style-type: none;
    text-align: left;
    padding:0;
}

#mainMenu li{
    line-height: 23px;
    font-size: 23px;
}

#mainMenu li a{
    color: rgb(55, 188, 213)
}

#mainMenu li a.active{
    color: rgb(125, 14, 123)
}

#aboutFestiwal{
    font-size:18px;
    line-height: 24px;
    font-family: akkurat-bold;
    max-width: 700px;
    min-height:550px;
    margin-top:50px;
}

#contact{
    height: auto;
    min-height:1000px;
}

.kafel{
    display:inline-block;
    margin-top:30px;
    margin-right: 78px;
    width:230px;
    height:135px;
    float:left;
    padding: 15px 0;
    border-top: 3px solid rgb(125, 14, 123);
    border-bottom: 3px solid rgb(125, 14, 123);
}

.kafel:hover{
    cursor:pointer;
}

.noRightMargin{
    margin-right: 0 !important;
}

.bottomKafel{
    border-top: none;
    margin-top:5px;
}


#kafelHeader{
    font-size: 16px;
    line-height: 22px;
}

#kafelAddressData{
    font-size: 14px;
    line-height: 18px;
}

#footer{
    bottom:0;
    width:100%;
    height:100px;
}

#footer img{
    display:inline-block;
}

.footerHeader{
    font-size:10px;
    display:inline-block;
    position:relative;
    margin-bottom: 20px;
}

#organizatorzy{
    margin-left:80px;
}

#partnerzy{
    margin-left:115px;
}

#medialni{
    margin-left: 140px;
}

#klub{
    margin-left: 288px;
    top:13px;
    width:30px;
}

#tickets{
    float:left;
    width:600px;
    height:330px;
    margin-bottom: 150px;
}

#topTickets{
    margin-top:30px;
    padding: 10px 0;
    display:table;
    width:100%;
    height:110px;
    border-top: 5px solid rgb(125, 14, 123);

}

#middleTickets{
    padding: 10px 0;
    display:table;
    width:100%;
    height:110px;
    border-top: 5px solid rgb(125, 14, 123);
}

#bottomTickets{
    padding: 10px 0;
    display:table;
    width:100%;
    height:110px;
    border-top: 5px solid rgb(125, 14, 123);
    border-bottom: 5px solid rgb(125, 14, 123);
}

.sizeTwoFive{
    font-size:25px;
}

.sizeTwoFour{
    font-size:24px;
}

.sizeOneEight{
    font-size: 18px;
    line-height: 24px;
}

.sizeOneFour{
    font-size:14px;
    line-height: 18px;
}

.buyTicketBox{
    height:70px;
    width:130px;
    padding:5px;
    vertical-align: middle;
    display:table-cell;
    border-right: 5px solid #37BCD5;
    border-left: 5px solid #37BCD5;
}

.buyTicketInnerBox{
    height:70px;
    position:relative;
    top:15px;
    left:15px;
}

#infoBox{
    margin-top:30px;
    float:right;
    border-top: 5px solid #37BCD5;
    border-bottom: 5px solid #37BCD5;
    width:200px;
    font-size: 18px;
    line-height: 24px;
    font-family: akkurat-light;
    color: #37BCD5;
    padding: 56px 0;
    margin-left:20px;
}

#leftInfoColumn{
    width:220px;
    float:left;
}

#rightInfoColumn{
    width:320px;
    float:right;
}

#shittyMarginTop{
    height:37px;
}

#ticketsInfo{
    width:600px;
    margin-bottom: 680px;
}

.programDay{

}

#thursday{
    margin-top:48px;
}

#monday{
    margin-bottom:50px;
}

.date{
    margin-bottom: 12px;
}

.event{
    width:250px;
    height:320px;
    float:left;
    display:inline-block;
}

.event:not(.lastRight) {
    margin-right: 42px;
}

.eventImg{
    width:250px;
    height:170px;
    margin-bottom: 15px;
}

.sizeOneTwo{
    font-size: 12px;
}

.black{
    color:black;
}

/*=========WYDARZENIA TOWARZYSZĄCE=========*/

.eventCategoryName {
    color: #7D0E7B; /*violet*/
    font-size:24px;
    font-weight:bold;
    margin-bottom:30px;
}

.eventName{
    color: #7D0E7B;
    font-size:24px;
    font-weight:bold;
}

.eventDataWord{
    margin-bottom:3px;
    color:#37BCD5; /*lightBlue*/
    font-size:12px;
    font-family: akkurat-bold;
}

.actuallEventData{
    color:#7D0E7B;
    font-size:18px;
    font-family: akkurat-light;
}

.eventPlaceWord{
    margin-bottom:3px;
    color:#37BCD5; /*lightBlue*/
    font-size:12px;
    font-family: akkurat-bold;
}

.actualEventPlace{
    color:#7D0E7B;
    font-size:18px;
    font-family: akkurat-light;
    margin-bottom:10px;
}

.aboutEventInfo{
    font-family: akkurat-light;
    color:black;
    font-size: 18px;
}

.hour{
    font-size:12;
    font-family: akkurat-light;
    color:#7D0E7B;
}


.leftColumn{
    width:50%;
    float:left;
    padding-right:60px;
    box-sizing: border-box;
}

.rightColumn{
    width:50%;
    float:right;
}

.floatLeft{
    float:left;
}

#eventGalery{
    margin-top:53px;
}

.mainEventImage{
    width:650px;
    float:left;
    margin-bottom:30px;
    height: 430px;
}

#rightImgsColumn{
    width:159px;
    height:auto;
    float:right;
}

#rightImgsColumn img{
    width:100%;
    display:inline-block;
    height:105px;
}

#eventMainInfo{
    padding: 10px 0;
    display:table;
    width:650px;
    height:110px;
    font-family: akkurat-light;
    border-top: 5px solid rgb(125, 14, 123);
    border-bottom: 5px solid rgb(125, 14, 123);
}

#eventMainInfo{
    margin-bottom: 30px;
}

#blueEventInfo{
    width:555px;
    margin-bottom:30px;
}

#eventDescription{
    font-size:18px;
    font-family: akkurat-light;
    margin-bottom: 30px;
}

#prizes{
    border-top: 5px solid rgb(125, 14, 123);
    border-bottom: 5px solid rgb(125, 14, 123);
    height:auto;
    font-family:akkurat-bold;
    color:rgb(125, 14, 123);
    font-size:18px;
    padding: 15px 0;
    margin: 30px 0;

}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    #mainContent{
        width: 70.660%;
    }
}

#madeBy{
    font-family: akkurat-light;
    font-size:12px;
    position:absolute;
    bottom:0;
    right:0;
    padding-bottom: 4px;
}